/*---------------------------/
#Reset
/-------------------------- */

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    color: #141b1fda;
    font-family: "Poppins", sans-serif;
}


/*---------------------------/
#Principal section
/-------------------------- */

.principal-content {
    display: grid;
    grid-template-columns: 25% auto;
}


/*---------------------------/
#Left content
/-------------------------- */

.left-bloc {
    width: 20%;
    height: 100vh;
    position: fixed;
    padding-top: 20px;
    padding-left: 20px;
    box-shadow: 0px 1px 10px #ddd;
}

.left-bloc .profile {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 5px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
    -webkit-column-gap: 8px;
}

.left-bloc .profile img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.left-bloc nav {
    margin-top: 5px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
}

.left-bloc nav div {
    display: flex;
    gap: 10px;
    margin-top: 5px;
    -webkit-column-gap: 10px;
    padding: 10px 15px;
    background-color: #f3f1f1;
}

.left-bloc nav div a {
    color: #141b1fda;
}

.left-bloc .active {
    color: #fff;
    background-color: #32585b;
}

.left-bloc .active a {
    color: #fff;
}

.left-bloc nav form {
    display: flex;
    gap: 10px;
    -webkit-column-gap: 10px;
}

.left-bloc nav form button {
    border: none;
    outline: none;
    background-color: unset;
}


/*--------------------------- /
# Login page
/ ---------------------------*/

.login-section {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-section .login-text {
    display: flex;
    gap: 10px;
    color: #fff;
    text-align: center;
    padding: 20px 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #32585b;
}

.login-form {
    width: 35%;
    border-radius: 5px;
    padding: 60px 35px;
    box-shadow: 0px 1px 10px #ddd;
}

.login-section .login-form h3 {
    color: #1964b5;
    text-align: center;
    margin-bottom: 20px;
}

.login-section .login-form .inputs {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    padding: 10px 15px;
    align-items: center;
    border-radius: 5px;
    -webkit-column-gap: 5px;
    background-color: #f4f4f4;
}

.login-section .login-form .inputs i {
    color: #1964b5;
}

.login-section .login-form .input-submit {
    margin-top: 20px;
}

.login-section .login-form .input-submit input {
    width: 100%;
    color: #fff;
    font-weight: 700;
    padding: 10px 15px;
    border-radius: 5px;
    text-transform: uppercase;
    background-color: #1964b5;
    font-family: "Poppins", sans-serif;
}

.login-section .login-form input,
select {
    width: 100%;
    border: none;
    outline: none;
    background: unset;
    font-family: "Poppins", sans-serif;
}

.login-section .forgot-password {
    display: flex;
    margin-top: 10px;
    justify-content: flex-end;
}

.login-section .forgot-password a {
    font-size: 13px;
    color: #1964b5;
}

.login-section .create-account {
    display: flex;
    gap: 4px;
    font-size: 14px;
    margin-top: 20px;
    justify-content: center;
    -webkit-column-gap: 4px;
}

.login-section .create-account a {
    font-size: 13px;
    color: #1964b5;
}


/*---------------------------/
#Media query
/-------------------------- */

@media screen and (max-width: 1250px) {
    .login-section .login-content,
    .login-section .news {
        width: 50%;
    }
}

@media screen and (max-width: 930px) {
    .login-section .login-content,
    .login-section .news {
        width: 70%;
    }
}

@media screen and (max-width: 800px) {
    .login-section .login-text {
        padding: 5px 5px;
    }
    .login-section {
        padding: 10px;
    }
}

@media screen and (max-width: 620px) {
    .login-section .login-content,
    .login-section .news {
        width: 90%;
    }
}

@media screen and (max-width: 470px) {
    .login-section .login-content,
    .login-section .news {
        width: 100%;
        padding: 8px;
    }
    .login-section .login-form {
        padding: 60px 20px;
    }
}